.l-block {
  overflow: hidden;
}
/* 入力エリア */
.l-input {
  padding: 40px 0;
}
.l-input-text {
  width: 500px;
}
/* TODOアイテム */
.l-item {
  display: flex;
  align-items: center;
  width: 600px;
  height: 60px;
  margin-bottom: 10px;
}
.md-item {
  border: solid 1px gray;
}
.l-item-checkbox {
  box-sizing: border-box;
  width: 40px;
  text-align: center;
}
.l-item-text {
  width: 480px;
}
.l-item-delete {
  width: 80px;
  text-align: center;
}